
.top-navigation {
    display: flex;
    padding: 12px 16px 12px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    border-bottom: 1px solid var(--semantic-fg-neutral-secondary, #E6E7E9);
    background: var(--semantic-bg-secondary, #FFF);

    .company-logo {
        width: 104.599px;
        height: var(--space-300, 24px);
        margin-left: 24px;
    }

    .user-avatar {
        .user-avatar-text {
            color: var(--semantic-fg-primary, #161719);
            text-align: center;
            font-family: "Brown LL";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.5px;

            padding: 8px 11px 8px 12px;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background: var(--semantic-bg-neutral-secondary, rgba(44, 45, 48, 0.12));

        }
    }
}