/* Global Styles */
$table-cell-border: 3px solid black;
$box-shadow: 1px 1px 15px -3px rgba(0, 0, 0, 0.5);

$primary-color: rgb(0, 0, 45);
$background-color: hsla(0, 0%, 83%, 0.358);
$table-header-color: rgb(38, 1, 83);
$table-hover-color: rgb(67, 47, 79);
$max-table-rows-height: 50vh;
$even-color: rgba(224, 255, 255, 0.5);
$odd-color: rgba(173, 216, 230, 0.5);

$breakpoint-mobile: 768px;
$mobile-primary-color: hsla(319, 48%, 47%, 0.331);


html {
    font-family: sans-serif;
}

body {
    background-color: $background-color;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    font-size: 100%;
    text-align: center;
    background-color: $primary-color;
    color: rgba(255, 255, 255, 0.95);
    padding: 0.8rem;
    box-shadow: $box-shadow;
}

.table-container {
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    box-shadow: $box-shadow;
    margin-bottom: 100px;
    max-height: $max-table-rows-height;
}

.user-info-container {
    margin-top: 120px; 
    margin-bottom: 90px;

    h2 {
        font-size: 30px;
        color: $primary-color;
        text-align: center;
        margin-bottom: 20px;
    }
}

.user-info-table {
    width: 100%;
    border-collapse: collapse;
    max-height: $max-table-rows-height;
    font-size: 15px;
    display: block;
    overflow-y: auto;

    th, td {
        border: $table-cell-border;
        padding: 8px;
        text-align: center;
    }

    th {
        background-color: $table-header-color;
        color: white;
        position: sticky;
        top: 0;

        &:hover {
            background-color: $table-hover-color;
        }
    }

    td:hover {
        cursor: pointer;
        background-color: ($even-color, 0.3);
    }

    /* Zebra striping - alternating colors */
    tr:nth-child(even) {
        background-color: $even-color;
    }

    tr:nth-child(odd) {
        background-color: $odd-color;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: $primary-color;
    color: rgba(255, 255, 255, 0.95);
    padding: 0.8rem;
    box-shadow: 1px -1px 15px -3px rgba(0, 0, 0, 0.5); 
}

/* Responsive design */
@media (max-width: $breakpoint-mobile) { 
    /* Adjust Header and Footer */
    header {
        padding: 0.5rem;
        font-size: 80%;
        background-color: $mobile-primary-color;
    }

    footer {
        padding: 0.5rem;
        font-size: 80%;
        background-color: $mobile-primary-color;
    }


    /* Adjust Table for Mobile */
    .user-info-table {
        font-size: 12px; /* Smaller font for smaller screens */
        display: block; /* Make the table scrollable horizontally */
        overflow-x: scroll;

        th, td {
            padding: 5px; /* Smaller padding */
        }

        th {
            background-color: hsl(350, 39%, 53%);

            &:hover {
                background-color: hsl(350, 39%, 43%);
            }
        }

        /* Zebra striping - alternating colors */
        tr:nth-child(even) {
            background-color: rgb(247, 232, 235);
        }

        tr:nth-child(odd) {
            background-color: rgb(250, 241, 243);
        }
    }

    .table-container {
        padding: 10px; /* Less padding for mobile view */

    }

    .user-info-container h2 {
        font-size: 20px; /* Smaller font for smaller screens */
    }
}