$background-color: hsla(0, 0%, 83%, 0.358);

html {
  font-family: "Brown LL";
}

body {
  background-color: $background-color;
}


html, body {
  height: 100%; /* Ensure html and body take up the full viewport height */
  margin: 0; /* Reset default margin */
  padding: 0;
  width: 1700px;
}