.drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    margin-bottom: 16px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s, border-color 0.3s ease-in-out;
  
    &:hover {
      border-color: #007bff;
      background-color: rgba(0, 123, 255, 0.05);
    }
  
    input[type="file"] {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }
    
    p {
      color: #333;
      font-size: 14px;
    }
  }
  
  .dragging {
    border-color: #007bff;
    background-color: rgba(0, 123, 255, 0.1);
  }
  
  .profile-image {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 12px;
    border: 1px solid #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: border-color 0.3s ease-in-out;
    
    &:hover {
      border-color: #007bff;
    }
  }
  